
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="preload" href="bootstrap/bootstrap.min.css" as="style" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    </noscript>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="preload" as="style" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="app.css" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="app.css" />
    </noscript>

    <link rel="stylesheet" href="CVBuilderFELogIn.styles.css" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="CVBuilderFELogIn.styles.css" />
    </noscript>

    <link rel="icon" type="image/png" href="favicon.png" />

    <meta name="description" content="Sara Battistella - .NET Cloud Developer student. Get to know my skills, projects, and career journey!" />

    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="_framework/blazor.web.js" defer></script>
</body>

</html>
