@inherits LayoutComponentBase

<div class="page">

    <head>
        <meta name="description" content="Sara Battistella's personal CV showcasing her skills and experience as a .NET Cloud Developer student." />
    </head>

    <div class="contanier"> 
        <a href="/admin">
          <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

