/* General Style */

/* -----COLORS-------
Forest Green - #3D6F3E
Gold  - #FFD700
Royal Blue - #1F3A69
Hylian Blue  - #3B6AA0
Earthy Brown - #8B5E3C
Light Sage  - #A8BCA3

    RED: #9E2A2F
*/

body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #f1f7e6;
    color: #4e4b3e;
    line-height: 1.6;
}

a {
    color: #78a46b; 
    text-decoration: none;
    transition: color 0.3s ease;
}

    a:hover {
        color: #3e8e41; 
        text-decoration: underline;
    }


/* Container */
.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Headings */
h1, h2, h3, h4 {
    color: #385d42; 
    font-family: 'Garamond', serif;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}


/* Loading and Empty Messages */
p {
    color: #9E2A2F;
    font-size: 1rem;
}

.error {
    color: #9E2A2F;
    font-size: 1.1rem;
    text-align: center;
}

.accent {
    color: #f3d699;
}